html {
    background-color: #93ff93;
}

header {
    background-color: #008000;
    color: white;
}

#cityName-print {
    background-color: #00cc33;
    color: white;
}

h1 {
    color: white;
}

#main {
    background-color: white;
    border-radius:5px;
}

.uk-button-primary {
    border-radius:5px;
}

.uk-button-primary:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

#message {
    color: red;
}

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

.uk-heading-line {
  text-align: center;
}
