@(message: String, nickName: String, editForm: Form[dto.EditForm], editPassForm: Form[dto.EditPasswordForm])
@import helper._

@main {
    <header id="header">
        <div class="uk-grid">
            <div class="uk-width-4-5">
                <h1 class="uk-margin-left uk-heading-primary">Edit</h1>
            </div>
            <div class="uk-margin-top">@nickName</div>
            <div>
                <button class="uk-margin-top uk-button uk-button-primary" onclick="location.href='@routes.UserController.logout()'">LOGOUT</button>
            </div>
        </div>
    </header>
    <p id="message" class="uk-margin-left">@message</p>
    <div id="main" class="uk-margin-left uk-margin-right uk-padding">
        @form(action = routes.UserController.update) {
            @CSRF.formField
            @inputText(
                field = editForm("userId"),
                '_label -> "USER ID",
                '_help -> ""
            )
            @inputText(
                field = editForm("nickName"),
                '_label -> "NICK NAME"
            )
            <input type="submit" value="UPDATE" class="uk-button uk-margin-top uk-button-primary">
        }
        @form(action = routes.UserController.passwordUpdate) {
            @CSRF.formField
            @inputPassword(
                field = editPassForm("password"),
                '_label -> "OLD PASS",
                '_help -> ""
            )
            @inputPassword(
                field = editPassForm("newPassword"),
                '_label -> "NEW PASS",
                '_help -> ""
            )
            @inputPassword(
                field = editPassForm("newRePassword"),
                '_label -> "NEW PASS"
            )
            <input type="submit" value="UPDATE" class="uk-button uk-button-primary">
        }
    </div>
    <button class="uk-button uk-margin-left uk-margin-top uk-button-primary" onclick="location.href='@routes.UserController.index()'">戻る</button>
}
