@(nickName: String)
@import helper._

@main {
    <header id="header">
        <div class="uk-grid">
            <div class="uk-width-4-5">
                <h1 class="uk-margin-left uk-heading-primary">Index</h1>
            </div>
            <div class="uk-margin-top">@nickName</div>
            <div>
                <button class="uk-margin-top uk-button uk-button-primary" onclick="location.href='@routes.UserController.logout()'">LOGOUT</button>
            </div>
        </div>
    </header>
    <div class="uk-margin-left">
        <div><button class="uk-margin-top uk-button uk-button-primary" onclick="location.href='@routes.UserController.register()'">CREATE</button></div>
        <div><button class="uk-margin-top uk-button uk-button-primary" onclick="location.href='@routes.UserController.edit()'">EDIT</button></div>
        <div><button class="uk-margin-top uk-button uk-button-primary" onclick="location.href='@routes.UserController.userIndex()'">USERINDEX</button></div>
    </div>
}
