@(registerForm: Form[dto.CreateForm])
@import helper._

@main {
    @form(action = routes.UserController.create) {
        @CSRF.formField
        @inputText(
            field = registerForm("userId"),
            '_label -> "USER ID",
            '_help -> ""
        )
        @inputText(
            field = registerForm("nickName"),
            '_label -> "NICK NAME"
        )
        @inputPassword(
            field = registerForm("password"),
            '_label -> "PASS",
            '_help -> ""
        )
        @inputPassword(
            field = registerForm("rePassword"),
            '_label -> "PASS"
        )
        @inputRadioGroup(
            field = registerForm("type"),
            options = Seq("0" -> "管理者", "1" -> "なし")
        )
        <input type="submit" value="CREATE" class="uk-button uk-button-primary">
    }
    <button class="uk-button uk-button-primary" onclick="location.href='@routes.UserController.index()'">戻る</button>
}
