@(registerForm: Form[dto.CreateForm])
@import helper._

@main {
    @form(action = routes.UserController.create) {
        @inputText(
            field = registerForm("userId"),
            '_label -> "USER ID"
        )
        @inputText(
            field = registerForm("nickName"),
            '_label -> "NICK NAME"
        )
        @inputPassword(
            field = registerForm("password"),
            '_label -> "PASS"
        )
        @inputPassword(
            field = registerForm("rePassword"),
            '_label -> "PASS"
        )
        @inputRadioGroup(
            field = registerForm("type"),
            options = Seq("0" -> "あり", "1" -> "なし")
        )
        <input type="submit" value="CREATE">
    }
}
